.navigator{
    row-gap: 10px;
    column-gap: 10px;
    display: flex;
    margin: 20px;
}

.navigator a{
    text-decoration: none;
}

.navigator a[class="active"]{
    background: grey;
    color: white;
    padding: 3px 5px;
    border-radius: 10px;

}